.page-content {
  position: absolute;
  top: 90px;
  width: 100%
}

.sentiment-bar-wrapper {
  width: 70%;
  height: 100%;
  background: #ff6961;

  .sentiment-bar-value {
    height: 4px;
    background: #77dd77
  }
}

body {
  font-family: apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,sans-serif
}