.feedback-wrapper {
  display: flex;
  border: 1px solid #f7f7f7;

  .feedback-list-wrapper {
    width: 60%;
    
    .feedback-list {
      max-height: 650px;
      overflow-y: scroll;
    }
  }

  .feedback-content {
    border: 1px solid #f7f7f7;
    padding: 20px;
   
    .header {
      display: flex;

      .description {
        margin-left: 16px;
        margin-bottom: 16px;
      }

      .rating {
        &--positive {
          color: #007958;
        }

        &--negative {
          color: #c82124;
        }
      }
    }

    &--time {
      margin-left: 24px;
      color: #475867;
      font-size: 14px;
    }
  }
}

.tags-wrapper {
  margin-left: 16px;
  margin-bottom: 12px;
}

.tag-list {
  display: flex;
  flex-wrap: wrap;

  .tag-wrapper {
    margin: 4px 8px;
    font-size: 14px;
    border-radius: 8px;
    padding: 4px 8px;

    &--positive {
      background-color: #e0f5f0;
      color: #007958;
      border: 1px solid #b4e5d9;
    }

    &--negative {
      background-color: #ffecf0;
      color: #c82124;
      border: 1px solid #ffd0d6;
    }

    &--neutral {
      background-color: #f3f5f7;
      border: 1px darken(#f3f5f7, 10%) solid;
      color: #475867;
    }
  }
}

.search-wrapper {
  .feedback-search {
    width: 100%;
    border: 1px solid #f7f7f7;
    height: 28px;
    padding: 32px;
  }
}

.sentiment-chart {
  border-bottom: 2px solid #f7f7f7;
}

.footer {
  display: flex;
  justify-content: space-between;
  padding: 16px;
  margin-bottom: 12px;

  .sort-label {
    font-size: 12px;
    margin: 0 4px;
  }

  .sort-by {
    border: none;
  }
}

