<div class="pulse-table-wrapper">
  {{#light-table table
    as |t|}}

    {{t.head
      iconAscending='arrow-up'
      iconDescending='arrow-down'
    }}

    {{#t.body
      class="list"
      canSelect=false
      as |body| }}
    {{/t.body}}
  {{/light-table}}
</div>