<div class="pulse-table-type-wrapper">
  {{#light-table table
    as |t|}}
{{!-- 
    {{t.head
      iconAscending='arrow-up'
      iconDescending='arrow-down'
    }} --}}

    {{#t.body
      class="list"
      multiRowExpansion=false
      as |body| }}
    {{/t.body}}
  {{/light-table}}
</div>